
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
        body{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(163,175,243,1) 0%, rgba(220,182,232,1) 100.2% );
    font-size: 20px;
    color: rgb(3, 2, 56);
    font-family: 'Poppins', sans-serif;
} 
h1{
    justify-content: center;
    display: flex;
}

.abt
{
	font-family: Comic Sans MS;
	font-size: 20px;
	color: #ff0022; 
    vertical-align: bottom;
    text-align: center;
   
}
.object{
    border: 3px solid black;
    padding: 20px;
    border-radius: 25px;
    filter: drop-shadow(0 0 10px rgb(55, 0, 255));
    animation: glow 2s alternate infinite; 
}

.rights{
    font-size: 20px;
	color: black; 
    vertical-align: bottom;
    text-align: center;
}
    